<web-app>
	<servlet>
		<servlet-name>insert</servlet-name>
		<servlet-class>com.hbm.servlet.InsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>insert</servlet-name>
		<url-pattern>/insertsrv</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>select</servlet-name>
		<servlet-class>com.hbm.servlet.SelectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>select</servlet-name>
		<url-pattern>/selectsrv</url-pattern>
	</servlet-mapping>
</web-app>